.SearchBar input {
  border-radius: 20px;
  color: black;
  padding-left: 40px;
  margin-bottom: 16px;
}

.SearchBar input:focus {
  border-color: #ffc107;
  background-color: transparent;
  box-shadow: 0 0 2px #ffc107;
}

.SearchIcon {
  position: absolute;
  font-size: 1.2rem;
  padding: 9px;
  padding-left: 15px;
  color: #cfced3;
}

.Popular {
  padding-top: 10px;
  max-width: 100%;
  padding-bottom: 10px;
}
.PopularHeader{
  text-align: center;
  font-size: larger;
  letter-spacing: 0.1em;
  text-transform: uppercase;
}
