.App {
  font-family: "Raleway", sans-serif;
  background-color: #f8f8f8;
  min-height: 100vh;
  font-size: 1.4rem;
  vertical-align: middle;
}

.Main {
  padding-top: 100px;
}

* {
  box-sizing: border-box;
}

a {

  color: #cfced3;
  transition: color ease-in-out 0.3s;
}

a:hover {
  text-decoration: none;
  color: #ffc107;
}

a:hover i {
  transition: color ease-in-out 0.3s;
  color: #ffc107;
}

i {
  font-size: 1.6rem;
  padding-left: 5px;
  padding-right: 5px;
  vertical-align: middle;
}

